div.output_subarea {
  overflow-wrap: anywhere;
  font-size: 10px !important;
}

div.output_area {
  overflow-wrap: anywhere;
  font-size: 10px !important;
}

/* Change output font size*/
.rendered_html table{
  font-size: 12px !important;
}

/* Change inner background (for code) */
div.input_area {
  background: white !important;
  font-size: 12px !important;
}

/* Change global font size (for code) */
.CodeMirror {
  font-size: 12px !important;
  font-family: monospace;
}

/*These homogenize the colors of various code elements to black (they render better printed) */
.cm-s-ipython span.cm-negative {color: black;}
.cm-s-ipython span.cm-positive {color: black;}
.cm-s-ipython span.cm-keyword{color: black;}
.cm-s-ipython span.cm-comment{color: black;}
.cm-s-ipython span.cm-string{color: black;}
.cm-s-ipython span.cm-string-2{color: black;}
.cm-s-ipython span.cm-punctuation{color: black;}
.cm-s-ipython span.cm-number{color: black;}
